plugins/base/com.netxforge.oss2.opendaylight/model/ad-sal/xsd/topology/topology.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wadl:doc xmlns:enunciate="http://enunciate.codehaus.org/" enunciate:generatedBy="Enunciate-1.28"/>
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>
  <wadl:resources base="http://localhost:8080/full">
    <wadl:resource path="/controller/nb/v2/topology/{containerName}">
      <wadl:param name="containerName" style="template">
        <wadl:doc>
          <![CDATA[The container for which we want to retrieve the topology (Eg.
'default')]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Retrieve the Topology]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="_q" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[A List of EdgeProps each EdgeProp represent an Edge of the graph
with the corresponding properties attached to it.

<pre>

Example:

Request URL:
http://localhost:8080/controller/nb/v2/topology/default

Response body in XML:
&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;topology&gt;
&lt;edgeProperties&gt;
&lt;edge&gt;
&lt;tailNodeConnector&gt;
&lt;node&gt;
&lt;id&gt;00:00:00:00:00:00:00:02&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/node&gt;
&lt;id&gt;2&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/tailNodeConnector&gt;
&lt;headNodeConnector&gt;
&lt;node&gt;
&lt;id&gt;00:00:00:00:00:00:00:51&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/node&gt;
&lt;id&gt;2&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/headNodeConnector&gt;
&lt;/edge&gt;
&lt;properties&gt;
&lt;state&gt;
&lt;value&gt;1&lt;/value&gt;
&lt;/state&gt;
&lt;config&gt;
&lt;value&gt;1&lt;/value&gt;
&lt;/config&gt;
&lt;name&gt;
&lt;value&gt;C1_2-L2_2&lt;/value&gt;
&lt;/name&gt;
&lt;timeStamp&gt;
&lt;value&gt;1377279422032&lt;/value&gt;
&lt;name&gt;creation&lt;/name&gt;
&lt;/timeStamp&gt;
&lt;/properties&gt;
&lt;/edgeProperties&gt;
&lt;edgeProperties&gt;
&lt;edge&gt;
&lt;tailNodeConnector&gt;
&lt;node&gt;
&lt;id&gt;00:00:00:00:00:00:00:51&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/node&gt;
&lt;id&gt;2&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/tailNodeConnector&gt;
&lt;headNodeConnector&gt;
&lt;node&gt;
&lt;id&gt;00:00:00:00:00:00:00:02&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/node&gt;
&lt;id&gt;2&lt;/id&gt;
&lt;type&gt;OF&lt;/type&gt;
&lt;/headNodeConnector&gt;
&lt;/edge&gt;
&lt;properties&gt;
&lt;state&gt;
&lt;value&gt;1&lt;/value&gt;
&lt;/state&gt;
&lt;name&gt;
&lt;value&gt;L2_2-C1_2&lt;/value&gt;
&lt;/name&gt;
&lt;config&gt;
&lt;value&gt;1&lt;/value&gt;
&lt;/config&gt;
&lt;timeStamp&gt;
&lt;value&gt;1377279423564&lt;/value&gt;
&lt;name&gt;creation&lt;/name&gt;
&lt;/timeStamp&gt;
&lt;/properties&gt;
&lt;/edgeProperties&gt;
&lt;/topology&gt;

Response body in JSON:
{
"edgeProperties":[
{
"edge":{
"tailNodeConnector":{
"node":{
"id":"00:00:00:00:00:00:00:02",
"type":"OF"
},
"id":"2",
"type":"OF"
},
"headNodeConnector":{
"node":{
"id":"00:00:00:00:00:00:00:51",
"type":"OF"
},
"id":"2",
"type":"OF"
}
},
"properties":{
"timeStamp": {
"value": 1379527162648,
"name": "creation",
},
"name": {
"value": "s2-eth3"
},
"state": {
"value": 1
},
"config": {
"value": 1
},
"bandwidth": {
"value": 10000000000
}
}
},
{
"edge":{
"tailNodeConnector":{
"node":{
"id":"00:00:00:00:00:00:00:51",
"type":"OF"
},
"id":"2",
"type":"OF"
},
"headNodeConnector":{
"node":{
"id":"00:00:00:00:00:00:00:02",
"type":"OF"
},
"id":"2",
"type":"OF"
}
},
"properties":{
"timeStamp": {
"value": 1379527162648,
"name": "creation",
}
}
}
]
}
</pre>]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="topology"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/controller/nb/v2/topology/{containerName}/userLinks">
      <wadl:param name="containerName" style="template">
        <wadl:doc>
          <![CDATA[The container for which we want to retrieve the user links
(Eg. 'default')]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Retrieve the user configured links]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="_q" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[A List of user configured links

<pre>

Example:

Request URL:
http://localhost:8080/controller/nb/v2/topology/default/userLinks

Response body in XML:
&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;list&gt;
&lt;userLinks&gt;
&lt;status&gt;Success&lt;/status&gt;
&lt;name&gt;link1&lt;/name&gt;
&lt;srcNodeConnector&gt;OF|2@OF|00:00:00:00:00:00:00:02&lt;/srcNodeConnector&gt;
&lt;dstNodeConnector&gt;OF|2@OF|00:00:00:00:00:00:00:51&lt;/dstNodeConnector&gt;
&lt;/userLinks&gt;
&lt;/list&gt;

Response body in JSON:
{
"userLinks": [
{
"status": "Success",
"name": "link1",
"srcNodeConnector": "OF|2@OF|00:00:00:00:00:00:00:02",
"dstNodeConnector": "OF|5@OF|00:00:00:00:00:00:00:05"
}
]
}

</pre>]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="list"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/controller/nb/v2/topology/{containerName}/userLink/{name}">
      <wadl:param name="containerName" style="template">
        <wadl:doc>
          <![CDATA[Name of the Container (Eg. 'default')]]>
        </wadl:doc>
      </wadl:param>
      <wadl:param name="name" style="template">
        <wadl:doc>
          <![CDATA[Name of the user link]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="PUT">
        <wadl:doc>
          <![CDATA[Add an User Link]]>
        </wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/xml" element="topologyUserLinkConfig"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Response as dictated by the HTTP Response Status code

<pre>

Example:

Request URL:
http://localhost:8080/controller/nb/v2/topology/default/userLink/link1

Request body in XML:
&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;topologyUserLinkConfig&gt;
&lt;status&gt;Success&lt;/status&gt;
&lt;name&gt;link1&lt;/name&gt;
&lt;srcNodeConnector&gt;OF|2@OF|00:00:00:00:00:00:00:02&lt;/srcNodeConnector&gt;
&lt;dstNodeConnector&gt;OF|2@OF|00:00:00:00:00:00:00:51&lt;/dstNodeConnector&gt;
&lt;/topologyUserLinkConfig&gt;

Request body in JSON:
{
"status":"Success",
"name":"link1",
"srcNodeConnector":"OF|2@OF|00:00:00:00:00:00:00:02",
"dstNodeConnector":"OF|2@OF|00:00:00:00:00:00:00:51"
}

</pre>]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
      <wadl:method name="DELETE">
        <wadl:doc>
          <![CDATA[Delete an User Link]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Response as dictated by the HTTP Response Status code

<pre>

Example:

Request URL:
http://localhost:8080/controller/nb/v2/topology/default/userLink/config1

</pre>]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
