model/com.netxforge.netxstudio.models/models/xsd/16042013/scheduling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.netxforge.com/16042013/scheduling"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:operators="http://www.netxforge.com/16042013/operators"
	xmlns:metrics="http://www.netxforge.com/16042013/metrics" xmlns:gen="http://www.netxforge.com/16042013/generics"
	xmlns:lib="http://www.netxforge.com/16042013/library" xmlns:services="http://www.netxforge.com/16042013/services"
	id="scheduling" targetNamespace="http://www.netxforge.com/16042013/scheduling"
	ecore:package="com.netxforge.netxstudio.scheduling">
	<xs:import schemaLocation="generics.xsd"
		namespace="http://www.netxforge.com/16042013/generics"></xs:import>
	<xs:import schemaLocation="operators.xsd"
		namespace="http://www.netxforge.com/16042013/operators"></xs:import>
	<xs:import schemaLocation="library.xsd"
		namespace="http://www.netxforge.com/16042013/library"></xs:import>
	<xs:import namespace="http://www.netxforge.com/16042013/metrics"
		schemaLocation="metrics.xsd" />
	<xs:import schemaLocation="services.xsd"
		namespace="http://www.netxforge.com/16042013/services" />


	<!--_____________________________ -->
	<!--| JOB | -->
	<!--|___________________________| -->
	<xs:complexType name="Job">
		<xs:complexContent>
			<xs:extension base="gen:Base">
				<xs:attribute name="StartTime" type="xs:dateTime"></xs:attribute>
				<xs:attribute name="Interval" type="xs:int"></xs:attribute>
				<xs:attribute name="Repeat" type="xs:int"></xs:attribute>
				<xs:attribute name="EndTime" type="xs:dateTime"></xs:attribute>
				<xs:attribute name="Name" type="xs:string"></xs:attribute>
				<xs:attribute name="JobState" type="JobState"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| JOBRun | -->
	<!--|___________________________| -->
	<xs:complexType name="JobRunContainer">
		<xs:sequence>
			<xs:element ecore:reference="Job" name="Job" type="xs:anyURI"
				maxOccurs="1" minOccurs="1"></xs:element>
			<xs:element name="WorkFlowRuns" type="WorkFlowRun"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| ExternalJob | -->
	<!--|___________________________| -->
	<xs:complexType name="ExternalJob">
		<xs:annotation>
			<xs:documentation>A job which is contributed externally and
				discovered by the job service
				The Job service interacts with the external plugin through a
				defined API (IJobExternal)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:attribute name="PluginID" type="xs:string">
					<xs:annotation>
						<xs:documentation>The ID of the contributing plugin.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ClassURI" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>The URI leading to the implementation of
							IJobExternal.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| MetricSourceJob | -->
	<!--|___________________________| -->
	<xs:complexType name="MetricSourceJob">
		<xs:annotation>
			<xs:documentation>A job importing metric sources.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="MetricSources" type="xs:anyURI"
						ecore:reference="metrics:MetricSource" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to the metric source being imported
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| AnalyzerJob | -->
	<!--|___________________________| -->
	<xs:complexType name="AnalyzerJob">
		<xs:annotation>
			<xs:documentation>A job performing post analysis for a service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="RFSService" type="xs:anyURI"
						ecore:reference="services:RFSService" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the RFSService for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!--_____________________________ -->
	<!--| NodeTypeReporterJob | -->
	<!--|___________________________| -->
	<xs:complexType name="NodeTypeReporterJob">
		<xs:annotation>
			<xs:documentation>A job producing external format reports for a
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="NodeType" type="xs:anyURI"
						ecore:reference="lib:NodeType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the NodeType for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScopeObject" type="xs:anyURI"
						ecore:reference="ecore:EObject" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to an arbitrary Scope object.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| NodeReporterJob | -->
	<!--|___________________________| -->
	<xs:complexType name="NodeReporterJob">
		<xs:annotation>
			<xs:documentation>A job producing external format reports for a
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="Node" type="xs:anyURI"
						ecore:reference="operators:Node" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the Node for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| OperatorReporterJob | -->
	<!--|___________________________| -->
	<xs:complexType name="OperatorReporterJob">
		<xs:annotation>
			<xs:documentation>A job producing external format reports for a
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="Operator" type="xs:anyURI"
						ecore:reference="operators:Operator" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the Operator for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| RFSServiceReporterJob | -->
	<!--|___________________________| -->
	<xs:complexType name="RFSServiceReporterJob">
		<xs:annotation>
			<xs:documentation>A job producing external format reports for a
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="RFSService" type="xs:anyURI"
						ecore:reference="services:RFSService" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the RFSService for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| RFSServiceMonitoringJob | -->
	<!--|___________________________| -->
	<xs:complexType name="RFSServiceMonitoringJob">
		<xs:annotation>
			<xs:documentation>A job computing capacity and utilization for a
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
				<xs:sequence>
					<xs:element name="RFSService" type="xs:anyURI"
						ecore:reference="services:RFSService" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the RFSService for which the job
								runs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| RetentionJob | -->
	<!--|___________________________| -->
	<xs:complexType name="RetentionJob">
		<xs:annotation>
			<xs:documentation>A job performing retention for a certain rfs
				service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Job">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| WORKFLOWRUN | -->
	<!--|___________________________| -->
	<xs:complexType name="WorkFlowRun">
		<xs:attribute name="Started" type="xs:dateTime"></xs:attribute>
		<xs:attribute name="Ended" type="xs:dateTime"></xs:attribute>
		<xs:attribute name="State" type="JobRunState"></xs:attribute>
		<xs:attribute name="Progress" type="xs:int"></xs:attribute>
		<xs:attribute name="ProgressTask" type="xs:string"></xs:attribute>
		<xs:attribute name="ProgressMessage" type="xs:string"></xs:attribute>
		<xs:attribute name="Log" type="gen:LongText"></xs:attribute>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| COMPONENTWORKFLOWRUN | -->
	<!--|___________________________| -->
	<xs:complexType name="ComponentWorkFlowRun">
		<xs:annotation>
			<xs:documentation>A job run result with RFSService specific data.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkFlowRun">
				<xs:sequence>
					<xs:element name="FailureRefs" type="Failure" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to information about failed
								expressions
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| ExpressionFailure | -->
	<!--|___________________________| -->
	<xs:complexType name="ExpressionFailure">
		<xs:annotation>
			<xs:documentation>Gives information about a failed expression
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Failure">
				<xs:sequence>
					<xs:element ecore:reference="lib:Expression" minOccurs="0"
						name="ExpressionRef" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>The expression which failed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!--_____________________________ -->
	<!--| ServiceUserFailure | -->
	<!--|___________________________| -->
	<xs:complexType name="ServiceUserFailure">
		<xs:annotation>
			<xs:documentation>Gives information about a failed component
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ExpressionFailure">
				<xs:sequence>
					<xs:element name="ServiceUserRef" type="xs:anyURI"
						ecore:reference="services:ServiceUser" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to the ServiceUser for which the
								computation failed.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!--_____________________________ -->
	<!--| COMPONENTFAILURE | -->
	<!--|___________________________| -->
	<xs:complexType name="ComponentFailure">
		<xs:annotation>
			<xs:documentation>Gives information about a failed component
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ExpressionFailure">
				<xs:sequence>
					<xs:element name="ComponentRef" type="xs:anyURI"
						ecore:reference="lib:Component" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to the component for which the
								computation failed.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| FAILURE | -->
	<!--|___________________________| -->
	<xs:complexType name="Failure">
		<xs:annotation>
			<xs:documentation>Gives information about a failure
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Message" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Message giving some extra information on the
						failure
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--_____________________________ -->
	<!--| JOBSTATE | -->
	<!--|___________________________| -->
	<xs:simpleType name="JobState">
		<xs:annotation>
			<xs:documentation>A type representing the job states.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"></xs:enumeration>
			<xs:enumeration value="InActive"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!--_____________________________ -->
	<!--| JOBRUNSTATE | -->
	<!--|___________________________| -->
	<xs:simpleType name="JobRunState">
		<xs:annotation>
			<xs:documentation>A type representing the job states.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Running"></xs:enumeration>
			<xs:enumeration value="FinishedSuccessfully"></xs:enumeration>
			<xs:enumeration value="FinishedWithError"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>